<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="XMLCCLREQUEST,APPLINK,MPAGES_EVENT,CCLLINK" name="discern"/>
    <link href="$SOURCE_DIR$\jw1_mpage.css" rel="stylesheet" type="text/css" charset="UTF-8"/>
    <script language="javascript" type="text/javascript" src="$SOURCE_DIR$\jw1_mpage.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="$SOURCE_DIR$\jquery.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript" src="$SOURCE_DIR$\jw1_mpage_common.js" charset="UTF-8"></script>
	<script language="javascript" type="text/javascript">
		var MPAGE_REC = $MPAGE_REC$.MPAGE_REC;
	</script>
	
</head>
<body onload="javascript:getEvents();">
	<div class="wrap">
		<h1 class="ps-hd"><span>Sample MPage</span></h1>
		<!--   Begin Column 1    -->
		<div class="section-group" id="sectionOne">
			<!--   Begin Patient Info Section   --> 
			<div id ='patientInfo' class='section simple-table'>
				<span class='toggleButton'>-</span><h2 class='sec-hd'><span id="patHeader">Patient Information</span></h2>
				<div class='sec-content'>
					<p class='info'>Results since admission date</p>
					<div id='patientInfoTable'></div>
				</div>
			</div>
			<!--   End Patient Info Section   -->
            <!--   Begin Allergy Section   --> 
			<div id ='allergyInfo' class='section simple-table'>
				<span class='toggleButton'>-</span>
				<a href='javascript:addAllergy();' title="Click to Add/Modify Allergies">+</a>
				<h2 class='sec-hd'><span>Allergies </span></h2>
				<div class='sec-content'>
					<p class='info'>Active Allergies</p>
					<div id='allergyTable'></div>
				</div>
			</div>           
			<!--   End Allergy Section   -->        
		</div>
		<!--   End Column 1    -->
		<!--   Begin Column 2    -->
		<div class="section-group" id="sectionTwo">
			<!--   Begin Document Section   --> 
			<div id='documents' class='section simple-table'>
				<h2 class='sec-hd'><span>Documents</span></h2>
				<div class='sec-content'>
					<p class='info'>Documents for past 6 months</p>
					<div id='documentTable'></div>
				</div>
			</div>           
			<!--   End Document Section   -->
		</div>
		<!--   End Column 2    -->
	</div>
</body>
</html>