<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<?xml version="1.0" encoding="UTF-8" ?>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=11"/>
<script type="text/javascript">

		var m_criterionJSON = '$CRITERION$';
		var CERN_static_content = "$SOURCE_DIR$";
		var FUSION_LOCALE = "$LOCALE_ID$";
		var fileDirectory = "$FILE_DIRECTORY$";

</script>
<meta http-equiv="Content-Type" content="APPLINK,CCLLINK,MPAGES_EVENT,XMLCCLREQUEST,CCLNEWSESSIONWINDOW" name="discern"/>
<script type="text/javascript" src="$SOURCE_DIR$/js/libs/mp_vin_page_utils_min.js"></script>
<script type="text/javascript" src="$SOURCE_DIR$/js/libs/mpage-fusion.js"></script>
<script type="text/javascript" src="$SOURCE_DIR$/js/libs/fusion-calendar.js"></script>
<script type="text/javascript" src="$SOURCE_DIR$/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="$SOURCE_DIR$/js/i18n/i18n_min.js"></script>
<script type="text/javascript" src="$SOURCE_DIR$/js/mp_vin_main_min.js"></script>

<link rel="stylesheet" type="text/css" href="$SOURCE_DIR$/css/mpage-fusion.css" />
<link rel="stylesheet" type="text/css" href="$SOURCE_DIR$/css/fusion-calendar.css" />
<link rel="stylesheet" type="text/css" href="$SOURCE_DIR$/css/mp_vin_main_min.css" />

</head>
<body id='mainBody' onload="RenderPage()">
	<div id="reportSubmitBody"></div>
	<div id="reportModalBody"></div>
	<div id="reportRunDetailsBody"></div>
</body>
</html>